*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    position:relative;
    z-index:2;
    width:80%;
    margin:0 auto;
    background-color: pink;
    min-height: 70vh;
    text-align: center;
    padding:30px;
    border: 20px solid whitesmoke;
    border-radius: 30px;
    background-color: #bd9ea382;
    box-shadow: 0px 0px 5px 5px #73726c;
    
}
.table-container{

    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50vh;
    display: flex;
    color:white;
    font-size: 30px;
    border-radius: 30px;
}
.table-container>div{
    width:50%;
    min-height: 300px;
}
.table-container div.boat-table-side{
    box-shadow: 1px -2px 20px 0px whitesmoke;
}
.table-container img{
    border-radius: 20px;
    width: 100px;
    height: 150px;
    margin: 5px 5px;
    opacity: 0.4;
    border: 5px solid black;
    box-shadow: 1px -2px 20px 0px whitesmoke;
}
.btn-control-container{
    width:400px;
    margin:auto;
    padding:30px;
    display: flex;
    justify-content: space-between;
}
.btn-control-container button{
    padding: 20px;
    width: 100px;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 800;
}
table{
    width:300px;
    margin:0px auto;   
    display: inline-block;
    box-shadow: inset 0px 0px 20px 14px #73726c;
}
table,th,td{
    border:5px solid rgb(150, 144, 144);
    border-radius: 30px;
    padding:10px 20px;
    border-radius: 30px;
}
th, td{
    border-radius:30px;
}
video{
    position: fixed;
 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
button{
    border:3px solid white;
    background-color: #2e3031;
    color: white;
    /* box-shadow: inset 0px 0px 20px 14px #73726c; */
}